/* News.css */
.news-section {
  padding: 40px 20px 20px;
  text-align: center;
  padding-bottom: 100px;
}

.custom-loader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 300px;
}

.spinner {
  border: 4px solid #f3f3f3;
  border-top: 4px solid #2e8b57;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}

.semi-final-image-container {
    max-width: 100%;
    margin: 0 auto 20px;
    padding: 0 20px;
}

.semi-final-image {
    width: 100%;
    height: auto;
    max-width: 800px;
    display: block;
    margin: 0 auto;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Existing styles... */

/* New styles for the Article component */
.article {
  max-width: 800px;
  margin: 40px auto;
  padding: 20px;
  background-color: black;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: left;
}

.article h2 {
  color: #2e8b57;
  margin-bottom: 20px;
}

.article h3 {
  color: #2e8b57;
  margin-top: 30px;
  margin-bottom: 15px;
}

.article p {
  margin-bottom: 60px;
  line-height: 1.6;
}

.share-buttons {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  margin-bottom: 40px;
}

.custom-icon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: #000;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-decoration: none;
  padding: 0;
}

.custom-icon-wrapper:hover {
  background-color: #333;
}

.custom-icon-wrapper svg {
  width: 24px;
  height: 24px;
}

.copied-message {
  margin-left: 10px;
  color: #2ecc71;
  font-size: 14px;
}

@media (max-width: 768px) {
  .article {
    padding: 15px;
    margin: 20px 10px;
  }
  .share-buttons > *:not(.mobile-share) {
    display: none;
  }
  .mobile-share {
    display: flex !important;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.fb-page-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  width: 100%;
  max-width: 500px; /* Adjust this to your preferred maximum width */
  margin-left: auto;
  margin-right: auto;
  overflow: hidden; /* This will prevent horizontal scrolling */
}

/* Responsive adjustments */
@media (max-width: 500px) {
  .fb-page-container {
    width: 100%;
    padding: 0;
  }
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .fb-page-container {
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
  }
}
